Repository pfadfinden/event-pager, pull requests merged in 2025-03, with the labels that each got.

#82 Lokale Benutzerverwaltung
  webservice/composer.json
  webservice/composer.lock
  webservice/config/bundles.php
  webservice/config/packages/security.yaml
  webservice/config/routes/security.yaml
  webservice/phpstan.dist.neon
  webservice/src/Core/UserManagement/Application/AddUserHandler.php
  webservice/src/Core/UserManagement/Application/DeleteUserHandler.php
  webservice/src/Core/UserManagement/Application/EditUserHandler.php
  webservice/src/Core/UserManagement/Command/AddUser.php
  webservice/src/Core/UserManagement/Command/DeleteUser.php
  webservice/src/Core/UserManagement/Command/EditUser.php
  webservice/src/Core/UserManagement/Model/User.php
  webservice/src/Infrastructure/Persistence/DoctrineORM/Repository/UserRepository.php
  webservice/src/View/Cli/AddUserCommand.php
  webservice/src/View/Cli/DeleteUserCommand.php
  webservice/src/View/Cli/EditUserCommand.php
  webservice/src/View/Web/LoginController.php
  webservice/symfony.lock
  webservice/templates/login.html.twig
  webservice/tests/Core/UserManagement/Application/AddUserHandlerTest.php
  webservice/tests/Core/UserManagement/Application/DeleteUserHandlerTest.php
  webservice/tests/View/Cli/AddUserCommandTest.php
  webservice/tests/View/Cli/DeleteUserCommandTest.php
  webservice/tests/View/Cli/EditUserCommandTest.php
  webservice/tests/View/Web/LoginControllerTest.php
Labels: enhancement, php, domain/user

#75 Adds TransportManager Module including CLI Commands
  webservice/phpstan.dist.neon
  webservice/src/Core/TransportContract/Port/Transport.php
  webservice/src/Core/TransportContract/Port/TransportFactory.php
  webservice/src/Core/TransportManager/Application/AddOrUpdateTransportConfigurationHandler.php
  webservice/src/Core/TransportManager/Application/DefaultTransportManager.php
  webservice/src/Core/TransportManager/Application/RemoveTransportConfigurationHandler.php
  webservice/src/Core/TransportManager/Command/AddOrUpdateTransportConfiguration.php
  webservice/src/Core/TransportManager/Command/RemoveTransportConfiguration.php
  webservice/src/Core/TransportManager/Model/TransportConfiguration.php
  webservice/src/Core/TransportManager/Port/TransportConfigurationRepository.php
  webservice/src/Core/TransportManager/Query/AllTransports.php
  webservice/src/Infrastructure/Persistence/DoctrineORM/Query/AllTransportsQueryHandler.php
  webservice/src/Infrastructure/Persistence/DoctrineORM/Repository/DoctrineTransportConfigurationRepository.php
  webservice/src/View/Cli/ConfigureTransportCommand.php
  webservice/src/View/Cli/ListTransportsCommand.php
  webservice/src/View/Cli/RemoveTransportCommand.php
  webservice/tests/Core/TransportManager/Application/AddOrUpdateTransportConfigurationHandlerTest.php
  webservice/tests/Core/TransportManager/Application/DefaultTransportManagerTest.php
  webservice/tests/Core/TransportManager/Application/RemoveTransportConfigurationHandlerTest.php
  webservice/tests/Core/TransportManager/Model/TransportConfigurationTest.php
  webservice/tests/Core/TransportManager/Query/AllTransportsTest.php
  webservice/tests/Infrastructure/Persistence/DoctrineORM/Query/AllTransportsQueryHandlerTest.php
  webservice/tests/Infrastructure/Persistence/DoctrineORM/Repository/DoctrineTransportConfigurationRepositoryTest.php
  webservice/tests/Mock/DummyTransport.php
  webservice/tests/View/Cli/ConfigureTransportCommandTest.php
  webservice/tests/View/Cli/ListTransportsCommandTest.php
  webservice/tests/View/Cli/RemoveTransportCommandTest.php
Labels: enhancement, php, merge-soon

#98 Created Handlers to create, modify and delete persons/groups/roles.
  webservice/config/services_test.yaml
  webservice/src/Core/MessageRecipient/Command/BindPersonToRole.php
  webservice/src/Core/MessageRecipient/Command/BindRecipientToGroup.php
  webservice/src/Core/MessageRecipient/Command/CreateRecipient.php
  webservice/src/Core/MessageRecipient/Command/DeleteRecipient.php
  webservice/src/Core/MessageRecipient/Command/ReplaceName.php
  webservice/src/Core/MessageRecipient/Handler/BindPersonToRoleHandler.php
  webservice/src/Core/MessageRecipient/Handler/BindRecipientToGroupHandler.php
  webservice/src/Core/MessageRecipient/Handler/CreateRecipientHandler.php
  webservice/src/Core/MessageRecipient/Handler/DeleteRecipientHandler.php
  webservice/src/Core/MessageRecipient/Handler/ReplaceNameHandler.php
  webservice/src/Core/MessageRecipient/Model/AbstractMessageRecipient.php
  webservice/src/Core/MessageRecipient/Model/Group.php
  webservice/src/Core/MessageRecipient/Model/MessageRecipient.php
  webservice/src/Core/MessageRecipient/Model/Role.php
  webservice/src/Core/MessageRecipient/Port/MessageRecipientRepository.php
  webservice/src/Infrastructure/Persistence/DoctrineORM/Repository/DoctrineMessageRecipientRepository.php
  webservice/tests/Core/MessageRecipient/Handler/BindPersonToRoleHandlerTest.php
  webservice/tests/Core/MessageRecipient/Handler/BindRecipientToGroupHandlerTest.php
  webservice/tests/Core/MessageRecipient/Handler/CreateRecipientHandlerIntegrationTest.php
  webservice/tests/Core/MessageRecipient/Handler/CreateRecipientHandlerTest.php
  webservice/tests/Core/MessageRecipient/Handler/DeleteRecipientHandlerTest.php
  webservice/tests/Core/MessageRecipient/Handler/ReplaceNameHandlerTest.php
  webservice/tests/Core/MessageRecipient/Model/AbstractMessageRecipientTest.php
  webservice/tests/Core/MessageRecipient/Model/GroupTest.php
  webservice/tests/Core/MessageRecipient/Model/PersonTest.php
  webservice/tests/Core/MessageRecipient/Model/RoleTest.php
  webservice/tests/Infrastructure/Persistence/DoctrineORM/Repository/DoctrineMessageRecipientRepositoryTest.php
Labels: enhancement, php

#99 Misc Cleanup
  .gitattributes
  webservice/composer.json
  webservice/src/Core/SendMessage/Command/SendMessage.php
  webservice/src/Core/SendMessage/Handler/SendMessageHandler.php
  webservice/src/Core/SendMessage/Model/IncomingMessage.php
  webservice/src/View/Cli/SendMessageCommand.php
  webservice/tests/Core/SendMessage/Model/IncomingMessageTest.php
  webservice/tests/View/Cli/SendMessageCommandTest.php
  webservice/tests/View/Web/LoginControllerTest.php
Labels: php
